In [15]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Load dataset
df = kagglehub.dataset_load(
    KaggleDatasetAdapter.PANDAS,
    'aldinwhyudii/student-depression-and-lifestyle-100k-data',
    'student_lifestyle_100k.csv',
)

df.head()

,Student_ID,Age,Gender,Department,CGPA,Sleep_Duration,Study_Hours,Social_Media_Hours,Physical_Activity,Stress_Level,Depression
0,1001,22,Female,Science,3.50,7.3,3.3,3.4,114,5,False
1,1002,20,Male,Engineering,2.72,5.5,7.2,6.0,142,2,False
2,1003,20,Male,Medical,3.01,5.4,2.3,1.8,137,3,False
3,1004,21,Male,Engineering,3.63,8.1,2.0,4.6,130,3,False
4,1005,19,Male,Arts,3.14,6.8,2.6,4.3,4,6,False

In [ ]:
from sklearn.model_selection import train_test_split

df = df.drop(columns=['Student_ID'])

# Assign X, y
X = df.drop(columns=['Depression'])
y = df['Depression']

# Split train, test
X_train, X_test, y_train, y_test = train_test_split(
	X, y, test_size=0.2, random_state=11, stratify=y
)

X_train.head()

,Age,Gender,Department,CGPA,Sleep_Duration,Study_Hours,Social_Media_Hours,Physical_Activity,Stress_Level
7079,18,Female,Arts,2.76,7.1,0.8,3.3,22,3
18244,20,Female,Medical,2.31,7.9,1.7,4.5,126,2
668,18,Male,Arts,2.29,8.4,4.4,2.9,9,3
43967,18,Male,Arts,3.35,7.7,6.5,1.7,133,3
63327,24,Male,Engineering,2.44,7.4,2.3,2.4,4,6

In [17]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

# Split categorical, numerical
cat_cols = ['Gender', 'Department']
num_cols = [col for col in df.columns if col not in cat_cols]

# Categorical
ohe = OneHotEncoder(
	handle_unknown='ignore',
	sparse_output=False
).set_output(transform='pandas')

# Numerical
scaler = StandardScaler()

In [18]:
from sklearn.compose import ColumnTransformer

# Column transformer
preprocessor = ColumnTransformer([
    ('ohe', ohe, cat_cols),
    ('scaler', scaler, num_cols),
], remainder='drop').set_output(transform='pandas')

In [19]:
from sklearn.pipeline import Pipeline

# Pipeline
pipe = Pipeline([
	('preprocessor', preprocessor),
    ('model', LogisticRegression())
])

pipe.fit(X_train, y_train)

NameError: name 'LogisticRegression' is not defined